.projects {
    padding: 40px 30px;
}

.projects-cards{
    border: 1px solid white;
    margin: 10px;
}

.projects-cards.game2{
    background: linear-gradient(#8BE8E5, #A084E8)
}

.projects-cards.travels {
    background: linear-gradient(#FAA300, #F4538A)
}

.projects-cards.books {
    background: linear-gradient(#F3CA52, #7ABA78)
}

.projects-cards.game1 {
    background: linear-gradient(#ED5EDD, #6A5495)
}

.projects-cards.weather {
    background: linear-gradient(#F53F3F, #9C1174)
}

.projects-cards.ecommerce {
    background: linear-gradient(#F21EAA, #EE7ABC)
}

/* (#80C490, #2CB9BE) */

.projects-cards.game1:hover, .game2:hover, .travels:hover, .books:hover, .weather:hover, .ecommerce:hover{
    background:transparent
}

.project-description{
    font-size: 0.8rem;
}

article{
    padding: 20px;
}

.repo-demo a{
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .flex {
            display: flex;
            justify-content: space-between;
            height: 50%
        }
                .projects-cards {
                    width: 50%;
                }
}