.projects {
    padding: 50px 0px;
}

.projects-cards{
    border: 1px solid white;
    margin: 10px;
    height: 30vh;
}

.projects-cards.game2{
    background: linear-gradient(#ED5EDD, #6A5495)
}

.projects-cards.travels {
    background: linear-gradient(#FAA300, #F4538A)
}

.projects-cards.books {
    background: linear-gradient(#F3CA52, #7ABA78)
}

.projects-cards.game1 {
    background: linear-gradient(#8BE8E5, #A084E8)
}

.projects-cards.game1:hover, .game2:hover, .travels:hover, .books:hover{
    background:transparent
}

.project-description{
    font-size: 0.8rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.projects-cards{
    width: 50%;
}

article{
    padding: 20px;
}