.contactme {
    padding: 40px 30px;
}

.contact-card {
    display: flex;
    margin:10px;
    text-decoration: none;
    font-size: 0.8rem;
    color: white
    }

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 90%;
}

@media screen and (min-width: 992px) {
    .contact-style {
        display: flex;
        justify-content: center;
    }

    .contact-card {
        margin-bottom: 40px;
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        width:30%
    }

    .contact-card:hover {
        font-size: 1rem;
    }

    .contact {
        display: flex;
    }
}